<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-model="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
   <ul>
      <li v-for="item in arr">{{item}}</li>
   </ul>
   <ul>
      <li v-for="(index,item) in arr" v-on:click="ClickMe($event)">{{index}}-{{item}}</li>
   </ul>
</div>
<script>
   var vue = new Vue({
       el:"#app",
       data:{
           arr:["a","b","c","d","d"]
       },
       methods:{
           ClickMe:function (e) {
               console.log(e);
           }
       }
   })
</script>

</body>
</html>